
:root {
  --primaryColor: hsl(26, 93%, 50%);
  --hoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0, 100%);
  --blackColor: hsl(0, 0, 1%);
  --whiteColorDeam: hsl(0, 0, 93%);
  --textColor: hsl(240, 1%, 48%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(0, 0%, 75%);
  --inputColor: hsl(330, 12%, 97%);
}

.popular{
  padding-top: 15rem;
  .secContainer{
   .secHeader {flex-direction: column;
    align-items: center;
    gap: 1rem;
    .textDiv{
      .secTitle{
        color: var(--blackColor);
        line-height: 1.5rem;
        padding-bottom: 0.5rem;
      }
      p{
        font-size: 13px;
        font-weight: 500;
        color: var(--textColor);
      }

    }
    .iconDiv{
      gap: 0.5rem;
      .icon{
        padding: 0.5rem;
        background: var(--greyText);
        border-radius: 50%;
        font-size: 2.5rem;
        &:hover{
          background: black;
          color: white;
        }
      }
      .leftIcon{
        background: black;
        color: white;
        &:hover{
          background: var(--garyText);
          color:black;
        }
      }
    }
  }
  .mainContent{
    padding: 2rem 0;
    gap: 1rem;
    .singleDestination{
      overflow: hidden;
      border-radius: 1rem;
      box-shadow: 0 2px 8px 2px rgba(178,178,178,0.45);

      .destImage{
        height: 200px;
        width: 100%;
        position: relative;
        overflow: hidden;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .overlayInfo{
          position: absolute;
          display:flex;
          align-items: flex-start;
          padding: 0;
          // padding: 1rem 1.5rem;
          justify-content: center;
          flex-direction: column;
          background: linear-gradient(rgba(0,0,0,0.84), rgba(0,0,0,0.759));
          bottom: 0;
          width: 100%;
          // height: 100%;
          height: 0;
          overflow: hidden;
          h3{
            color: white;
            font-weight: 600;
          }
          p{
            color: white;
            font-size: 13px;
            opacity: 0.7;
          }
          .icon{
            position: absolute;
            right: 10px;
            bottom: 10px;
            padding: 0.5rem;
            background: var(--primaryColor);
            font-size: 2.5rem;
            border-radius: 50%;
            color: white;
            border: 1px solid var(--primaryColor);
            transition: 0.3s ease;
            &:hover{
              background: black;
              color: var(--primaryColor);
              border: 1px solid var(--primaryColor); 
            }
          }

        }
      }
      .destFooter{
        padding: 1rem;
        .number{
          font-size: 2rem;
          font-weight: 700;
          color: black;
          position: relative;
          width: max-content;
          &::after{
            content: '';
            position: absolute;
            background: var(--primaryColor);
            top: 45%;
            right: -150%;
            height: 5px;
            width: 45px;
            border-radius: 1rem;
          }
        }
        .desText{
          justify-content: space-between;
          h6{
            color: black;
            font-size: 15px;

          }
          .flex{
            font-size: 16px;
            font-weight: 600;
            align-items: flex-start;
            transform: translateY(5px);
            .icon{
              color: var(--primaryColor);
            }
          }
        }
      }
      &:hover{
        .overlayInfo{
          overflow: visible;
          padding: 1rem 1.5rem;
          height: 100%;

        }
      }
    }
  }
  }
}
@media screen and (min-width: 480px) {
  .popular {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 556px) {
  .popular {
    .secContainer{
      .secHeader{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .textDiv{
          text-align: start;
          max-width: 70%;
        }
        .iconDiv{
          justify-content: flex-end;
        }
      }
    }
  }
}
@media screen and (min-width: 720px) {
  .popular {
   padding-top: 7rem;
  }
}
@media screen and (min-width: 1020px) {
  .popular {
   padding-top: 10rem;
   .secContainer{
    .secHeader{
      .textDiv{
        .secTitle{
          font-size: 2.2rem;
        }
        p{
          font-size: 15px;
        }
      }
    }
    .mainContent{
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
    }
   }
  }
}